body {
  // background: #000;
  font: 400 1em/1.4 $primary-font;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-rendering: optimizeLegibility;
}

// video {
//   height: 100vh;
//   margin: auto;
//   max-height: 100vh;
//   max-width: 100%;
// }


.video-cont {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 720px;  height: 480px;
}

.video-cont video {
  visibility: hidden;
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}


