.add-comment
  &plus;
.comment-modal
  %textarea{:placeholder => 'Comment here...'}
  %button{:class => 'submit'} Submit
.message
.video-name
.blob
.video-container
.comment-container
.indicator 
  .bar
.bubble
  .bubble-text
